api.waxweb.shop {
    encode zstd gzip

    @signalr path /comments*
    reverse_proxy @signalr api:8080 {
        transport http {
            versions 1.1
        }
    }

    reverse_proxy api:8080
}

n8n.waxweb.shop {
    encode zstd gzip
    reverse_proxy n8n:5678
}
